<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MrPill_Parsecoco WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MrPill_Parsecoco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Notification - MrPill_Parsecoco WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0774FA8A1BC68E63006FB847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0774FA9E1BC68E63006FB847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07CF03861BEB58D100905C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07ED31D51BD008A200A92933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
